body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#weather-info {
    margin-top: 20px;
    text-align: left;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

#weather-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#weather-info p {
    font-size: 16px;
    margin-bottom: 5px;
}

#weather-info .default-city {
    font-style: italic;
    color: #999;
    margin-top: 10px;
}

#weather-info .default-city:before {
    content: "Default city: ";
    font-weight: bold;
}

#weather-info .default-city span {
    color: #333;
}

